.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(15, 15, 15);
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer {
    width: 100%;
    height: 100px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.title {
    /* margin: 1vh;
    margin-bottom: 4vh; */
    line-height: 1.15;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* margin: 5vh; */
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.daydiv {
    position: relative;
    width: "100%";
    padding: 0.1rem 0.1rem;
    background-color: rgb(20, 20, 20);
    border: 1px solid rgb(120, 120, 120);
    border-radius: 2px;
    z-index: 0;
}

.daydiv_unmarked:hover {
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(120, 120, 120);
}

.daydiv_marked:hover {
    background-color: rgb(0, 100, 25);
    border: 1px solid rgb(0, 140, 25);
}

.daydiv_marked {
    background-color: rgb(0, 60, 15);
    border: 1px solid rgb(0, 100, 25);
}

.result_textarea {
    width: 100%;
    height: 30vh;
    cursor: copy;
}

.tooltip {
    width: 80%;
    position: relative;
    justify-items: center;
    display: block;
    z-index: 1;
}

.tooltip .tooltiptext,
.tooltip .tooltiptextarea {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    display: block;

    /* Position the tooltip */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.tooltip .tooltiptext {
    bottom: 100%;
}

.tooltip .tooltiptextarea {
    top: 90%;
    left: 0;
    right: 0;
}

.tooltip:hover .tooltiptext,
.tooltip:hover .tooltiptextarea {
    visibility: visible;
}

.result_textarea,
.button,
.tooltiptext {
    font-family: monospace;
    padding: 12px 20px;
    font-size: 1rem;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    background-color: rgb(30, 30, 30);
}

.button:hover,
.result_textarea:hover {
    background-color: rgb(60, 60, 60);
}

.button:active,
.result_textarea:active {
    background-color: rgb(100, 100, 100);
}
